{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome!</h1>
            <p>This is a CRUD made with Symfony. You can create different products and add a category to them, list them, update them and delete them.</p>
            <p><a class="btn btn-primary btn-lg" href="{{ path('products_index') }}" role="button">Products »</a></p>
        </div>
    </div>
{% endblock %}
